/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;} Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-top{
	text-align :center;
	padding:5px 0;
	z-index: 1;
	width: 100%;
	clear: both;
	background: #FFF;
	border-bottom: 2px solid #E6E6E6;
}
.logo {
	float:left;
}
/*---login----*/
.csslogin{
	z-index:2;
	display: inline-block;
	margin-top:1%;
	font-size: .8em;
	font-family: 'Arimo', sans-serif;
}

.InputHolder{
	z-index: 2;
	position: relative;
	display: inline-block;
	
}

.InputHolder label{
	z-index: 1;
	color:#999;
	top:2px;
	left:10px;
	position: absolute;
}
.csslogin  input{
	font-family: 'Arimo', sans-serif;
	border :1px solid #999;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.csslogin input:hover{
	border :1px solid #3998f5;
	-moz-box-shadow: 0px 0px 5px #3998f5;
    box-shadow: 0px 0px 5px #3998f5;
}
.loginButton{
	width: 80px;
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
}
.loginButton:active{
	color:#3998f5;
}
/*--menu--*/
.cssmenu{
	
	float:right;
	padding-top:4px;
}
.cssmenu > ul > li {
	display: inline-block;
}
.cssmenu > ul > li.active a, .cssmenu > ul > li a:hover {
	color:#000;
}
.cssmenu > ul > li > a {
	color: #999;
	display: block;
	margin: 10px 10px;
	letter-spacing: 1px;
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
}
.header-bottom{
	padding:1% 0;
	text-align: center;
}
.header-bottom h1{
	font-size: 4em;
	color: #333;
	font-family: 'Roboto Slab', serif;
}
.header-bottom h2{
	font-size:1.6em;
	color: #555;
	font-family: 'Roboto Slab', serif;
	padding: 1% 0 1%;
}
.header-bottom h1 span{
	font-family: 'Arimo', sans-serif;		
}
.header-bottom h3{
	font-size:2.5em;
	color: #555;
	font-family: 'Roboto Slab', serif;
}
.header-bottom h3 span{
	font-family: 'Arimo', sans-serif;	
}
.but {
	text-align: center;
	padding: 2em 0 3em 0;
}
.but a, .confirmButton {
	font-family: 'Roboto Slab', serif;	
	display: inline-block;
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px #3998F5;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px #3998F5;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px #3998F5;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px #3998F5;
	background: #3998f5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5OThmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzc3ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3998f5 0%, #1777d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3998f5), color-stop(100%,#1777d9));
	background: -webkit-linear-gradient(top,  #3998f5 0%,#1777d9 100%);
	background: -o-linear-gradient(top,  #3998f5 0%,#1777d9 100%);
	background: -ms-linear-gradient(top,  #3998f5 0%,#1777d9 100%);
	background: linear-gradient(to bottom,  #3998f5 0%,#1777d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3998f5', endColorstr='#1777d9',GradientType=0 );
	border: 1px solid #076CCE;
	padding: 8px 30px;
	font-size: 1.2em;
	color: #FFF;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.31);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	text-transform:uppercase;
}
.but a, .confirmButton :hover{
	background: #1777d9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NzdkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTk4ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1777d9 0%, #3998f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1777d9), color-stop(100%,#3998f5));
	background: -webkit-linear-gradient(top,  #1777d9 0%,#3998f5 100%);
	background: -o-linear-gradient(top,  #1777d9 0%,#3998f5 100%);
	background: -ms-linear-gradient(top,  #1777d9 0%,#3998f5 100%);
	background: linear-gradient(to bottom,  #1777d9 0%,#3998f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1777d9', endColorstr='#3998f5',GradientType=0 );
	border: 1px solid #076CCE;
}
.but a img {
	vertical-align: middle;
	margin-bottom:0px;
}
p.desc{
	color:#555;
	font-size:1.2em;
	font-family: 'Roboto Slab', serif;
}
p.desc span{
	color:#328fef;
	font-family: 'Arimo', sans-serif;
}
/*---------------register-------------------------*/
.register{
	display:inline-block;
	margin-top:11%;
}
.regholder{
	height: 730px;
	background:url(../images/macbook.png) no-repeat center;
	background-size: contain;
}
.register input{
	border :1px solid #999;
	border-radius:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display:block;
	width: 600px;
	height: 50px;
	font-family: 'Arimo', sans-serif;
	font-size: 36px;
}
.register input:hover{
	-moz-box-shadow: 0px 0px 10px #3998f5;
    box-shadow: 0px 0px 10px #3998f5;
}
.register label{
	text-align:left;
	display:block;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
}
.regError{
	color: red;
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
}
.confirmButton{
	cursor:pointer;
}
/*--------------------------------------------balance------------------------------------------------*/
.balance, error403{
	margin-top: 15%;
	display:inline-block;
	text-align:center;
}

.balance span{
	font-family: 'Arimo', sans-serif;
	font-size: 50px;
	color: #3998f5;
	display:block;
}
.contentholder{
	min-height:735px;
}
.contentholder h1, .contentholder h2{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	color: #555;
}
/*---------------------------------------------users-------------------------------------------------------*/
.adminContent{
	display:inline-block;
}
.pageTitle, .controls{
	padding: 1% 0 1% 0;
}
.pageTitle, .userEmail{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
}
table {
	font-family: 'Arimo', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 115%;
	width: auto;
	overflow: auto;
	display: block;
	background-color: rgb(238, 238, 238);
	
}
table th {
	font-family: 'Roboto Slab', serif;
	background-color: #3998f5;
	font-weight: 700;
	color: white;
	padding: 10px 30px;
	text-align: center;
}
table caption {
	font-family: 'Roboto Slab', serif;
	background-color: white;
	font-weight: 700;
	font-size: 26px;
	padding: 10px 30px;
	border: 2px solid white;
	text-align: center;
}
table td {
	border: 2px solid white;
	padding: 10px 30px;
}
table tr {
	color: rgb(111, 111, 111);
}
table tr:hover {
	background-color: #3998f5;
	color:white;
}

.showBtn, .delBtn{
	font-family: 'Arimo', sans-serif;
	height: 45px;
	width:90px;
	border: 1px solid #999;
	border-radius:5px;
	cursor:pointer;
}
.showBtn:hover, .delBtn:hover{
	border: 1px solid #3998f5;
	color:#3998f5;
}
.inputBlock{
	display:inline-block;
}
.controls input{
	display:inline-block;
	margin-right:5px;
	font-family: 'Arimo', sans-serif;
	height: 30px;
	width:200px;
	border: 1px solid #999;
	border-radius: 5px;
}
.controls label{
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	text-align:left;
	display:block;
}
.controls input[type=text]{
	font-size: 16px;
}
.controls input[type=button]:hover, .controls input[type=button]:active{
	color:#3998f5;
	border: 1px solid #3998f5;
}
.controls input[type=button]{
	background-color: rgb(238, 238, 238);
	cursor:pointer;
}
.controls input[type=text]:hover{
	border: 1px solid #3998f5;
}
.controls input:hover{
	-moz-box-shadow: 0px 0px 5px #3998f5;
    box-shadow: 0px 0px 5px #3998f5;
}
.pagination{
	display:inline-block;
}
.page{
	font-family: 'Arimo', sans-serif;
	margin-right:5px;
	width:30px;
	height:30px;
	display:inline-block;
	border: 1px solid #999;
	line-height: 30px;
	border-radius:5px;
	cursor:pointer;
}
.page:hover, .page:active{
	border: 1px solid #3998f5;
	color: #3998f5;
}
.selectedPage{
	font-family: 'Arimo', sans-serif;
	line-height: 30px;
	margin-right:5px;
	width:30px;
	height:30px;
	display:inline-block;
	border-radius:5px;
	background-color: #3998f5;
	border: 1px solid #999;
	color: white;
}
.pageSizeSelector{
	font-family: 'Arimo', sans-serif;
	float:center;
	width:50px;
	height:30px;
}
.errors, .replenishErrors{
	display:none;
	font-size: 16px;
	color: red;
	max-width:565px;
	word-wrap: break-word;
	border: 1px solid red;
	border-radius:5px;
	margin: auto;
	padding:15px 10px 15px 50px;
	background:url(../images/error.png) no-repeat left center;
	background-color: #FFBABA;
	background-size: contain;
}
.popup_shadow{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    cursor: default;
    height: 100%;
    width: 100%;
    opacity: .5s;
    position: fixed;   
    display:none;
    z-index: 1;
    
}
/* Формируем и позиционируем всплывающее окно */
.popup { 
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    top: 30%;
    background-color: #fff;
    border: 3px solid #fff;
    display: block;
    left: 0; right: 0;
    opacity: 1;
    padding: 15px;
    position: fixed;
    font-size: 14px;
    z-index: 10;
/* Скругление углов окна  */	
    border-radius: 10px;
/* Тень блока окна  */	
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset; 
}
/* Оформляем и позицонируем кнопку закрытия */
.hideBtn {
	background:url(../images/X.png) no-repeat;
	background-size: contain;
    border: 2px solid #ccc;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;padding: 0;
    top: -15px;
    width: 24px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #000;
    cursor:pointer;
}
/*.hideBtn:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}*/
.hideBtn:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
/*--footer--*/
.copy p{
	margin-top :20px;
	text-align: center;
	font-family: 'Arimo', sans-serif;
	color:#999;
	font-size:1em;
}
.footer{
	border-top: 2px solid #E6E6E6;
	padding-bottom:2%;
}
